modules = ["web", "nodejs-20"]

run = ["node", "server.js"]
[nix]
channel = "stable-24_05"

[deployment]
run = ["node", "server.js"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 2000
externalPort = 5000
