@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --primary: #fff;
    --dark-background: #12151c;
    --color1: #D185FF;
    --color2: #00ffff;
    --bg1: #000;
    --bg2: #000;
    background: #000;
}



* {
    user-select: none;
    font-family: 'Instrument Sans';
    color: white;
}

img {
    -webkit-user-drag: none;
}

body {
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0px !important;
    background: #000;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

body::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 1;
    z-index: 0;
    transition: opacity 0.5s ease-in-out;
}

body.bg-fadein::before {
    opacity: 0;
}

body.bg-fadein {
    background: linear-gradient(90deg, var(--bg1) 0%, var(--bg2) 100%);
}

#waveCanvas {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 76%, rgba(0, 0, 0, 0.8) 100%);
    left: 0vw;
    top: 0vh;
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
}



#navbar {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    height: 96px;
    width: calc(100vw - 48px);
    position: fixed;
    left: 24px;
    top: 0px;
    border-bottom: solid 2px rgb(64, 64, 64);
    z-index: 9999;
    transition: transform 1s ease;
    transform: translateY(+0%);
}

.navbar-preload {
    transform: translateY(-120%) !important;
}

.gradient-text {
    background: linear-gradient(to right, var(--color1) 0%, var(--color2) 100%);
    background-clip: text;
    color: transparent;
    font-family: 'Instrument Sans';
    width: fit-content;
    /* text-shadow: 0px 0px 20px rgba(81,203,255,0.87); */
}

#navbar .gradient-text {
    display: flex;
    align-content: center !important;
    flex-direction: row;
    height: 96px;
    margin: 0px;
    margin-right: 24px;
    float: left;
    font-size: 48px;
    margin: 0px 18px 0px 0px;
    display: block;
    font-weight: 600;
    margin-left: 24px;
    text-shadow: none;
    transform: TranslateY(-2.5px);
    transition: transform 0.2s ease-in-out;
    font-size: 200%;
}

#navbar .gradient-text:hover {
    cursor: pointer;
    transform: TranslateY(-2.5px) scale(1.1);
}


.navbar-item-top {
    font-family: 'Instrument Sans';
    display: flex;
    font-weight: 400;
    font-size: 24px;
    color: var(--primary);
    display: inline-flex;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    float: left;
    height: 48px;
    margin: 0px;
    margin-right: 24px;
    line-height: 96px;
    height: 96px;
    align-content: center !important;
    position: relative;
    text-shadow: none;
}


.dropdown {
    transition: transform 0.4s ease-in-out 1ms, opacity 0.4s ease-in-out, text-shadow 0.4s ease-in-out, backdrop-filter 0.4s ease-in-out;
    position: absolute;
    display: block;
    top: 84px;
    transform: scaleY(1) TranslateY(+0%);
    left: -38px;
    padding: 0.4rem;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent to allow blur effect */
    opacity: 1;
    border: solid 1px #333;
    width: max-content;
    min-width: 120px;
    z-index: 2;
    transform-origin: top;
    /* Apply blur to content behind the element */
}


.dropdown::before {
    content: "";
    position: absolute;
    top: -16.1px;
    /* Position the notch above the dropdown */
    left: 52px;
    /* Center the notch horizontally */
    transform: translateX(-50%) perspective(17px) rotateX(31deg);
    /* Ensure perfect centering */
    width: 31px;
    /* Width of the notch */
    height: 16px;
    /* Height of the notch */
    background-color: #000;
    );
    /* Match dropdown background */
    border-left: 1px solid #333;
    /* Match border color */
    border-top: 2px solid #333;
    /* Match border color */
    border-right: 1px solid #333;
    /* Match border color */
    box-sizing: border-box;
    border-bottom: solid 2px black;
    border-radius: 8px 8px 0 0;
    /* Round the top corners */
    z-index: 1;
    /* Place below dropdown content */
}

.navbar-item {
    transition: text-shadow 0.4s ease-in-out;
    text-shadow: 0px 0px 0px #000000;
}

.dropdown .navbar-item:not(.navbar-item-top) {
    line-height: 48px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    transition: all 0.4s ease-in-out;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    border-radius: 0.5rem;
}

.dropdown .navbar-item:not(.navbar-item-top):hover {
    background-color: rgba(255, 255, 255, 1);
    color: #000;
}


.navbar-item::after {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    content: '';
    height: 0px;
    width: 0px;
    box-shadow: 0px 0px 64px 16px rgba(255, 255, 255, 0.8);
    transition: opacity 0.5s ease-in-out;
}

.navbar-item:hover::after {
    opacity: 1;
}

#center {
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 50vw;
    transition: transform 0.5s ease-in-out;
    transform: TranslateX(+0px);
}

#center:has(.title-preload) {
    display: none !important;
}

#center .gradient-text {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 12px;
    transform: translateX(+0%);
    transition: transform 1s ease;
    overflow: hidden;
}

@keyframes shine {
    0% {
        background-position: 123% 50%;
    }

    50% {
        background-position: -53% 50%;
    }

    100% {
        background-position: -53% 50%;
    }
}

#center .gradient-text::before {
    --width: 8%;
    content: "bhop";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(-40deg, transparent 0%, transparent 46%, #fff 46%, #fff 54%, transparent 54%, transparent 100%);
    background-clip: text;
    color: transparent;
    font-family: 'Instrument Sans';
    width: fit-content;
    pointer-events: none;
    background-position: 123% 50%;
    background-size: 200%;
    opacity: 0.7;
    animation: shine 7s ease-in-out 1s infinite;
    /* Shorthand with delay */
    z-index: 1;
}




.dropdown.hidden {
    transform: scaleY(0) TranslateY(+0%);
    opacity: 0;
    backdrop-filter: blur(0px);
    display: block !important;
}

.text {
    font-family: 'Instrument Sans';
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    display: block;
    transform: translateX(+0%);
    transition: transform 1s ease 0.3s;
}

.title-preload {
    transform: translateX(calc(-100% - 96px)) !important;
}


.dropdown .notch {
    position: absolute;
    display: none;
    width: 102%;
    /* Adjust the size as needed */
    left: -1px;
    top: -46px;
    aspect-ratio: 950 / 269;

    /* Background Image: Use the external SVG */
    background-image: url('/images/dropdown-notch.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    /* Masking using the external SVG */
    -webkit-mask-image: url('/images/dropdown-notch.svg');
    mask-image: url('/images/dropdown-notch.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;

    /* Apply the blur effect */
    backdrop-filter: blur(8.85px);
}


.navbar-item-top hr {
    position: absolute;
    left: 50%;
    top: calc(50% + 4px);
    transform: TranslateX(-50%);
    border: solid 2.5px #fff;
    width: 0px;
    border-radius: 1000px;
    transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0;
    display: block;
    width: 0px;
}

.navbar-item-top:has(.dropdown) hr {
    left: calc(50% - 12px);
}

.navbar-item-top:hover hr {
    width: 36px;
    opacity: 1;
}

#navbar .navbar-item:last-of-type.navbar-item-top {
    transition: all 0.2s ease-in-out;
    height: 32px;
    line-height: 32px;
    padding: 6px 18px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 6px;
    top: 50%;
    display: flex;
    transform: translateY(-50%);
    margin-left: auto;
}

#navbar .navbar-item:last-of-type.navbar-item-top:has(img) {
    padding-left: 42px;
}

#navbar .navbar-item:last-of-type.navbar-item-top span {
    color: #000;
    width: fit-content;
    text-wrap: nowrap;
}

#navbar .navbar-item span {}

#navbar .navbar-item:last-of-type.navbar-item-top img {
    height: 24px;
    aspect-ratio: 1;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: TranslateY(-50%);
}


#navbar .navbar-item:last-of-type.navbar-item-top:hover {
    transform: translate(0%, calc(-50% - 6px)) scale(1);
}

#navbar .navbar-item:has(.dropdown)::before {
    content: "";
    height: 27%;
    aspect-ratio: 1 / 1;
    background-image: url("/images/navbar-arrow.svg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 50.2%;
    right: -8px;
    transform: TranslateY(-50%) rotate(0deg);
    transition: transform 0.2s ease-in-out;
}

#navbar .navbar-item:has(.dropdown) {
    padding-right: 24px;
    margin-right: 24px;
}


#navbar .navbar-item:has(.dropdown:not(.hidden))::before {
    transform: TranslateY(-50%) rotate(-90deg) !important;
}

.loader-6 {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    ;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    animation: rotation6 4s linear infinite;
    transform: scale(3);
    /* Initial scale applied */
}

.loader-6::after {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    width: 34px;
    height: 34px;
    border: 5px solid #aaa;
    border-top-color: transparent;
    border-radius: 50%;
    animation: rotation6-reverse 2s linear infinite reverse;
}

@keyframes rotation6 {
    0% {
        transform: translate(-50%, -50%) scale(3) rotate(0deg);
        /* Include scale with rotation */
    }

    100% {
        transform: translate(-50%, -50%) scale(3) rotate(360deg);
        /* Maintain scale with rotation */
    }
}

@keyframes rotation6-reverse {
    0% {
        transform: rotate(0deg);
        /* Inner circle doesn't need scaling */
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes loading-container-pulse {
    0% {
        opacity: 0;
        display: none;
    }

    1% {
        opacity: 0;
        display: block;
    }

    25% {
        opacity: 1;
        display: block;
    }

    75% {
        opacity: 1;
        display: block;
    }

    99% {
        opacity: 0;
        display: block;
    }

    100% {
        opacity: 0;
        display: none;
    }
}


#loading-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    backdrop-filter: blur(16px);
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.loading-container-pulse {
    display: block !important;
    animation: loading-container-pulse 4s ease-in-out !important;
}

#loading-container .loader-6 {
    position: absolute;
    left: 50%;
    top: 50%;
}

#debug {
    position: fixed;
    right: 12px;
    bottom: 12px;
    color: black;
    padding: 12px;
    box-sizing: border-box;
}


::-webkit-scrollbar-thumb {
    display: none !important;
}

@media (orientation: portrait) {
    #navbar {
        overflow-x: scroll;
        overflow-y: show;
        border-bottom: none !important;
        width: 100vw;
        left: 0px;
        mask: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
        -webkit-mask: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 65%, rgba(0, 0, 0, 0) 92%);
    }

    #navbar::-webkit-scrollbar {
        display: none;
        /* Hides scrollbar in WebKit browsers */
    }

    body::after {
        box-shadow: 0px 0px 15px 10px rgba(50, 50, 50, 1),
            /* Top white shadow */
            0px 0px 48px 0px rgba(0, 0, 0, 1);
        background-color: rgba(50, 50, 50, 1);
        width: 0px;
        height: 48px;
        content: "";
        position: fixed;
        right: 18px;
        top: 24px;
        border-radius: 9999px;
    }



    /*#navbar .gradient-text {
        display: none;
    }*/

    #music-player-container {
        display: none;
        transform: none !important;
    }

    #center {
        width: 85vw;
        margin-top: 24px;
    }

    div#home-container {
        align-items: flex-start;
    }

    html *:not(head) {
        cursor: auto !important;
    }

    div#carousel {
        margin-bottom: 24px;
    }

    html,
    body {
        padding-top: env(safe-area-inset-top);
    }
}


#toasts {
    position: fixed;
    bottom: 24px;
    left: 24px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 450px;
}

.toast {
    width: calc(100% - 24px);
    height: 48px;
    display: flex;
    flex-direction: row;
    background-color: #242C32;
    margin-top: 24px;
    position: relative;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    transform: translateX(+0%);
    transition: transform 0.5s ease;
}

.toast-img {
    position: absolute;
    height: 300%;
    aspect-ratio: 1;
    left: 36px;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    -webkit-user-drag: none;
}

.toast-container {
    position: absolute;
    left: 72px;
    top: 50%;
    transform: translateY(-50%);
}

.toast-title {
    font-size: 20px;
}

.toast-description {
    color: #919191;
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat" !important;
}

.toast-hidden {
    transform: translateX(calc(-100% - 24px));
}

#carousel {
    aspect-ratio: 8 / 5;
    transform: scale(1);
    position: relative;
    overflow: hidden;
    border-radius: 3vh;
    border: solid 0.6vh rgba(0, 0, 0, 0.5);
    transition: transform 1s ease;
    width: min(73vh, calc(100vw - 48px));
}

.carousel-img {
    height: calc(100% + 1vh);
    width: calc(100% + 1vh);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    transition: filter 0.5s ease-in-out;
}

#carousel:hover .carousel-img {
    filter: blur(0.5vh) brightness(80%) !important;
}

.carousel-img-animated {
    transition: transform 1s ease-in-out, filter 0.5s ease-in-out !important;
}

#carousel-dots {
    position: absolute;
    left: 0px;
    bottom: 24px;
    height: 24px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.carousel-dot {
    background-color: #fff;
    height: 100%;
    aspect-ratio: 1;
    margin: 0px 10px;
    border-radius: 9999px;
    opacity: 0.4;
    transition: opacity 0.5s ease;
    box-shadow: 0px 0px 48px 2px rgba(255, 255, 255, 1);
}

.carousel-dot-active {
    opacity: 1;
}

#carousel-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease-in-out;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    aspect-ratio: 3.5;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3vh;
    border: solid 6px rgba(0, 0, 0, 0.13);
    backdrop-filter: blur(2vh);
}

#carousel:hover #carousel-button {
    opacity: 1;
    transform: translate(-50%, -50%);
}

#carousel-button:hover {
    transform: translate(-50%, -50%) scale(1.03);
}

#carousel-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 600;
}

#carousel-button img {
    height: 3vh;
    position: absolute;
    top: 50%;
    right: 4.714285714%;
    transform: translate(-50%, -50%);
}

.carousel-preload {
    transform: scale(0) !important;
}

#bhop-spacer {
    opacity: 0;
}

#settings-icon {
    position: absolute;
    right: 13.2%;
    top: 7%;
    height: 100%;
    aspect-ratio: 1;
    transition: background-image 0s linear 0.5s;
}

@keyframes settings-rotate-short {
    0% {
        transform: rotate(0deg);
    }

    90% {

        transform: rotate(359deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Inner elements */
#settings-icon div {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.3) rotate(0deg);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    background: linear-gradient(90deg, var(--color1) 20%, var(--color2) 80%);
    background-size: 178px;
    background-position-x: 50%;
    mask-size: cover;
    -webkit-mask-size: cover;
}

#settings-icon div:not(.gradient-o) {
    opacity: 0 !important;
    mask: url("/images/gradient-settings.svg");
    -webkit-mask: url('/images/gradient-settings.svg') no-repeat center;
    /* For WebKit browsers */
}

#settings-icon div.gradient-o {
    opacity: 1 !important;
    mask: url("/images/gradient-o.svg");
    -webkit-mask: url('/images/gradient-o.svg') no-repeat center;
}

#settings-icon:hover div:not(.gradient-o) {
    opacity: 1 !important;
}

#settings-icon:hover div.gradient-o {
    opacity: 0 !important;
}

#settings-icon:hover div {
    transform: translate(-50%, -50%) scale(1.3) rotate(360deg);
}

div#home-container {
    flex-direction: row;
    /* flex: 1; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#navbar-home-button {
    height: 50%;
    aspect-ratio: 1;
    background: linear-gradient(to right, var(--color1) 0%, var(--color2) 100%);
    mask: url('/images/home.svg') no-repeat center / cover;
    -webkit-mask: url('/images/home.svg') no-repeat center / cover;
}