@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --primary: #fff;
    --dark-background: #12151c;
    --color1: #D185FF;
    --color2: #00ffff;
    --bg1: #000;
    --bg2: #000;
}

* {
    user-select: none;
    font-family: 'Instrument Sans';
    color: white;
}

html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0px !important;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, var(--bg1) 0%, var(--bg2) 100%);
    cursor: default !important;
    overflow: hidden;
}

#waveCanvas {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 76%, rgba(0, 0, 0, 0.8) 100%);
    left: -10vw;
    top: -10vh;
}



#navbar {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    height: 96px;
    width: calc(100vw - 48px);
    position: fixed;
    left: 24px;
    top: 0px;
    border-bottom: solid 2px rgb(64, 64, 64);
    z-index: 2;
    transition: transform 1s ease;
    transform: translateY(+0%);
}

.navbar-preload {
    transform: translateY(-120%) !important;
}

.gradient-text {
    background: linear-gradient(to right, var(--color1) 0%, var(--color2) 100%);
    background-clip: text;
    color: transparent;
    font-family: 'Instrument Sans';
    width: fit-content;
    /* text-shadow: 0px 0px 20px rgba(81,203,255,0.87); */
}

#navbar .gradient-text {
    display: flex;
    align-content: center !important;
    flex-direction: row;
    height: 96px;
    margin: 0px;
    margin-right: 24px;
    float: left;
    font-size: 36px;
    margin: 0px 18px 0px 0px;
    display: block;
    font-weight: 600;
    margin-left: 24px;
    text-shadow: none;
    transform: TranslateY(-2.5px);
    transition: transform 0.2s ease-in-out;
}

#navbar .gradient-text:hover {
    cursor: pointer;
    transform: TranslateY(-2.5px) scale(1.1);
}


.navbar-item-top {
    font-family: 'Instrument Sans';
    display: flex;
    font-weight: 400;
    font-size: 24px;
    color: var(--primary);
    display: inline-flex;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    float: left;
    height: 48px;
    margin: 0px;
    margin-right: 24px;
    line-height: 96px;
    height: 96px;
    align-content: center !important;
    position: relative;
    text-shadow: none;
}


.dropdown {
    transition: transform 0.4s ease-in-out 1ms, opacity 0.4s ease-in-out, text-shadow 0.4s ease-in-out, backdrop-filter 0.4s ease-in-out;
    position: absolute;
    display: block;
    top: 79px;
    transform: scaleY(1) TranslateY(+0%);
    left: -28px;
    padding: 0.4rem;
    border-radius: 12px;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    border: solid 1px rgba(255, 255, 255, 0.2);
    width: max-content;
    min-width: 120px;
    z-index: 2;
    transform-origin: top;
}

.navbar-item {
    transition: text-shadow 0.4s ease-in-out;
    text-shadow: 0px 0px 0px #000000;
}

.dropdown .navbar-item:not(.navbar-item-top) {
    line-height: 48px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    transition: all 0.4s ease-in-out;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    border-radius: 0.5rem;
}

.dropdown .navbar-item:not(.navbar-item-top):hover {
    background-color: rgba(255, 255, 255, 1);
    color: #000;
}


.navbar-item::after {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    content: '';
    height: 0px;
    width: 0px;
    box-shadow: 0px 0px 64px 16px rgba(255, 255, 255, 0.8);
    transition: opacity 0.5s ease-in-out;
}

.navbar-item:hover::after {
    opacity: 1;
}

#center {
    position: absolute;
    top: 50%;
    left: 42px;
    transform: TranslateY(-50%);
    z-index: 1;
}

#center .gradient-text {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 12px;
    transform: translateX(+0%);
    transition: transform 1s ease;
}

.dropdown.hidden {
    transform: scaleY(0) TranslateY(+0%);
    opacity: 0;
    backdrop-filter: blur(0px);
}

.text {
    font-family: 'Instrument Sans';
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    display: block;
    transform: translateX(+0%);
    transition: transform 1s ease 0.3s;
}

.title-preload {
    transform: translateX(-130%) !important;
}

.dropdown .notch {
    position: absolute;
    left: -28px;
    top: -45.3px;
    height: 72.4px;
    pointer-events: none !important;
}

.navbar-item-top hr {
    position: absolute;
    left: 50%;
    top: calc(50% + 4px);
    transform: TranslateX(-50%);
    border: solid 2.5px #fff;
    width: 0px;
    border-radius: 1000px;
    transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0;
    display: block;
    width: 0px;
}

.navbar-item-top:hover hr {
    width: 36px;
    opacity: 1;
}

#navbar .navbar-item:last-of-type.navbar-item-top {
    position: absolute;
    right: 0px;
    transition: all 0.2s ease-in-out;
    height: 32px;
    line-height: 32px;
    padding: 6px 18px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 6px;
    top: 50%;
    transform: translate(0%, -50%) scale(1);
    display: flex;
    align-items: row-reverse;
}

#navbar .navbar-item:last-of-type.navbar-item-top:has(img) {
    padding-left: 42px;
}

#navbar .navbar-item:last-of-type.navbar-item-top span {
    color: #000;
}

#navbar .navbar-item span {}

#navbar .navbar-item:last-of-type.navbar-item-top img {
    height: 24px;
    aspect-ratio: 1;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: TranslateY(-50%);
}


#navbar .navbar-item:last-of-type.navbar-item-top:hover {
    transform: translate(0%, calc(-50% - 6px)) scale(1);
}

#navbar .navbar-item:has(.dropdown)::before {
    content: "";
    height: 27%;
    aspect-ratio: 1 / 1;
    background-image: url("/images/navbar-arrow.svg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 50.2%;
    right: -8px;
    transform: TranslateY(-50%) rotate(0deg);
    transition: transform 0.2s ease-in-out;
}

#navbar .navbar-item:has(.dropdown) {
    padding-right: 24px;
    margin-right: 24px;
}


#navbar .navbar-item:has(.dropdown:not(.hidden))::before {
    transform: TranslateY(-50%) rotate(-90deg) !important;
}

.loader-6 {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    ;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    animation: rotation6 4s linear infinite;
    transform: scale(3);
    /* Initial scale applied */
}

.loader-6::after {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    width: 34px;
    height: 34px;
    border: 5px solid #aaa;
    border-top-color: transparent;
    border-radius: 50%;
    animation: rotation6-reverse 2s linear infinite reverse;
}

@keyframes rotation6 {
    0% {
        transform: translate(-50%, -50%) scale(3) rotate(0deg);
        /* Include scale with rotation */
    }

    100% {
        transform: translate(-50%, -50%) scale(3) rotate(360deg);
        /* Maintain scale with rotation */
    }
}

@keyframes rotation6-reverse {
    0% {
        transform: rotate(0deg);
        /* Inner circle doesn't need scaling */
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes loading-container-pulse {
    0% {
        opacity: 0;
        display: none;
    }

    1% {
        opacity: 0;
        display: block;
    }

    25% {
        opacity: 1;
        display: block;
    }

    75% {
        opacity: 1;
        display: block;
    }

    99% {
        opacity: 0;
        display: block;
    }

    100% {
        opacity: 0;
        display: none;
    }
}


#loading-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    backdrop-filter: blur(16px);
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.loading-container-pulse {
    display: block !important;
    animation: loading-container-pulse 4s ease-in-out !important;
}

#loading-container .loader-6 {
    position: absolute;
    left: 50%;
    top: 50%;
}

#debug {
    position: fixed;
    right: 12px;
    bottom: 12px;
    color: black;
    padding: 12px;
    box-sizing: border-box;
}

@media (orientation: portrait) {
    #navbar {
        overflow-x: scroll;
        overflow-y: hidden;
    }

    #navbar::-webkit-scrollbar {
        display: none;
        /* Hides scrollbar in WebKit browsers */
    }

    body::after {
        box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, 0.3),
            /* Top white shadow */
            0px 0px 48px 0px rgba(0, 0, 0, 1);
        background-color: rgba(255, 255, 255, 0.3);
        width: 0px;
        height: 48px;
        content: "";
        position: absolute;
        right: 18px;
        top: 24px;
        border-radius: 9999px;
    }

    #navbar .navbar-item:last-of-type.navbar-item-top {
        display: none;
    }

    #navbar .gradient-text {
        display: none;
    }

    #waveCanvas {
        height: 150%;
        width: 150%;
        transform: translate(-15%, -15%);
    }
}


#toasts {
    position: fixed;
    bottom: 24px;
    left: 24px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 450px;
}

.toast {
    width: calc(100% - 24px);
    height: 48px;
    display: flex;
    flex-direction: row;
    background-color: #242C32;
    margin-top: 24px;
    position: relative;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    transform: translateX(+0%);
    transition: transform 0.5s ease;
}

.toast-img {
    position: absolute;
    height: 300%;
    aspect-ratio: 1;
    left: 36px;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    -webkit-user-drag: none;
}

.toast-container {
    position: absolute;
    left: 72px;
    top: 50%;
    transform: translateY(-50%);
}

.toast-title {
    font-size: 20px;
}

.toast-description {
    color: #919191;
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat" !important;
}

.toast-hidden {
    transform: translateX(calc(-100% - 24px));
}

#carousel {
    position: absolute;
    right: 96px;
    top: 50vh;
    transform: translateY(-50%) scale(1);
    height: 50vh;
    width: 80vh;
    z-index: 1;
    overflow: hidden;
    border-radius: 3vh;
    border: solid 0.6vh rgba(0, 0, 0, 0.5);
    transition: transform 1s ease;
}

.carousel-img {
    height: calc(100% + 1vh);
    width: calc(100% + 1vh);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    transition: filter 0.5s ease-in-out;
    border-radius: 3vh;
}

#carousel:hover .carousel-img {
    filter: blur(0.5vh) brightness(80%) !important;
}

.carousel-img-animated {
    transition: transform 1s ease-in-out, filter 0.5s ease-in-out !important;
}

#carousel-dots {
    position: absolute;
    left: 0px;
    bottom: 24px;
    height: 24px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.carousel-dot {
    background-color: #fff;
    height: 100%;
    aspect-ratio: 1;
    margin: 0px 10px;
    border-radius: 9999px;
    opacity: 0.4;
    transition: opacity 0.5s ease;
    box-shadow: 0px 0px 48px 2px rgba(255, 255, 255, 1);
}

.carousel-dot-active {
    opacity: 1;
}

#carousel-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease-in-out;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    aspect-ratio: 3.5;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3vh;
    border: solid 6px rgba(0, 0, 0, 0.13);
    backdrop-filter: blur(2vh);
}

#carousel:hover #carousel-button {
    opacity: 1;
    transform: translate(-50%, -50%);
}

#carousel-button:hover {
    transform: translate(-50%, -50%) scale(1.03);
}

#carousel-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 600;
}

#carousel-button img {
    height: 3vh;
    position: absolute;
    top: 50%;
    right: 4.714285714%;
    transform: translate(-50%, -50%);
}

.carousel-preload {
    transform: translateY(-50%) scale(0) !important;
}

#bhop-spacer {
    opacity: 0;
}

#settings-icon {
    position: absolute;
    right: 13%;
    top: 9%;
    height: 100%;
    aspect-ratio: 1;
    transition: background-image 0s linear 0.5s;
}



@keyframes settings-rotate-short {
    0% {
        transform: rotate(0deg);
    }

    90% {

        transform: rotate(359deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Inner elements */
#settings-icon div {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.3);
    transition: opacity 0.3s ease-in-out;
    background: linear-gradient(90deg, var(--color1) 20%, var(--color2) 80%);
    background-size: 178px;
    background-position-x: 50%;
    mask-size: cover;
    -webkit-mask-size: cover;
}

#settings-icon div:not(.gradient-o) {
    opacity: 0 !important;
    mask: url("/images/gradient-settings.svg");
    -webkit-mask: url('/images/gradient-settings.svg') no-repeat center;
    /* For WebKit browsers */
}

#settings-icon div.gradient-o {
    opacity: 1 !important;
    mask: url("/images/gradient-o.svg");
    -webkit-mask: url('/images/gradient-o.svg') no-repeat center;
}

#settings-icon:hover div:not(.gradient-o) {
    opacity: 1 !important;
}

#settings-icon:hover div.gradient-o {
    opacity: 0 !important;
}